/* -------------------------------- 

Introduction to CSS Transitions

-------------------------------- */

span {
  display: block;
  width: 100px;
  height: 100px;
  background: #444;
  margin: 4em auto;
  transition: all .5s;
}

span:hover {
  width: 200px;
  height: 200px;
  background: red;
  transition: all 2s;
}